*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    text-align:center;
    margin-bottom: 10px;
}
section{
    width: 100%;
    margin-bottom: 10px;
    
}

.main_div{
    width: 100%;
    height: 300px;
    display:flex;
    /* border:  solid black;
    border-radius: 12px; */
}
.image{
    width: 40%;
    height: 300px;
   /*  background:yellow; */
   margin-right: 12px;
    background: url(/pexels-william-choquette-1954524.jpg) no-repeat;
    background-size: cover;
    /* border-right: 2px solid black; */
}
.story{
    width: 60%;
    height: 300px;
 
}
.image1{
    width: 40%;
    height: 300px;
   /*  background:yellow; */
    background: url(pexels-leon-ardho-1552252.jpg) no-repeat;
    background-size: cover;
    display:block;
    /* border-left: 2px solid rgb(25, 26, 23); */
}
.image2{
    width: 40%;
    height: 300px;
    margin-right: 12px;
   /*  background:yellow; */
    background: url(pexels-pixabay-416717.jpg) no-repeat;
    background-size: cover;
    /* border-right: 2px solid rgb(8, 1, 1); */
}
