*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.title-text{
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-text h1{
    margin-top: 70px;
    font-weight: 100;
    color: #009688;
}
.title-text p{
    margin-top: 0px;
}
.feature-box{
    width: 80%;
    margin: auto;
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}
.features{

    flex-basis: 50%;
    border: 1px solid red;

}
.features-img{
    flex-basis: 50%;
    margin:auto;
}
.features-img img{
    width: 70%;
    border-radius: 10px;
}
.features-desc{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
.features-text p{
    padding: 0 20px;
    text-align:initial;
}

.service{
    width: 100%;
    padding:70px 0;
    background: #efefef;
}
.service-box{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    margin: auto;
}
.single-service{
    flex-basis: 48%;
    text-align:center;
    border-radius: 7px;
    margin-bottom: 20px;
    color:#fff;
    position: relative;

}
.single-service img{
    width: 100%;
    border-radius: 7px;
}
.overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    border-radius: 7px;
    cursor: pointer;
    background: linear-gradient(rgba(0,0,0,0.5), #009688);
    opacity: 0;
    transition: 1s;
}
.single-service:hover .overlay{
    opacity:1;
}
.service-desc{
    width: 80%;
    position:absolute;
    bottom: 0;
    left: 50%;
    opacity: 0;
    transform: translateX(-50%);
    transition:1s;
}
hr{
    background:#fff;
    height: 2px;
    border: 0;
    margin:15px auto;
    width: 60%;
}
.service-desc p{
  font-size:14px;
}
.single-service:hover .service-desc {
    bottom:40%;
    opacity:1;
}